
ul.menu 
  list-style: none
  padding: 0
  width: 22vh
  height: 24vh
  overflow: hidden
  float:  right
  li.unfocused
    a
      background: darken(lightgrey, 20%)
      &:hover
        background: darken(lightgrey, 10%)
        transition: background 1s
        transition-delay: background .25s
  li
    a
      font-family: 'Permanent Marker', cursive
      font-size: 2vh
      background: ivory
      padding: 1.5vh
      margin: 1vh
      border-radius: 5px
      text-align: center
      box-shadow: 1px 1px rgba(20, 20, 20, .4)
      border: 1px solid rgba(20, 20, 20, .4)
      background: radial-gradient(ellipse, white 70%, ivory 90%, grey)
      color: inherit
      display: block
      width: 8vw


#specifier_bar
  position: fixed
  top: calc(50% - 12vh)
  left: calc(2% + 2vw)
  bottom: 0
  width: 7vw
  height: 24vh