ul.menu
  list-style: none
  padding: 0
  width: 22vh
  @media (max-width: 1000px)
    display: flex
    flex-direction: row
    width: 100%
  .navigation_button
    display: none
  li.unfocused a, .navigation_button
    background: darken(lightgrey, 20%)
    &:hover
      background: darken(lightgrey, 10%)
      transition: background 1s
      transition-delay: background .25s
  li
    a, &.navigation_button
      border: 1px solid rgba(20, 20, 20, .4)
      border-radius: 5px
      box-shadow: 1px 1px rgba(20, 20, 20, .4)
      color: black
      font-family: 'Hammersmith One', sans-serif
      font-size: 2vh
      margin: 1vh
      padding: 1.5vh
      text-align: center
    &.navigation_button
      width: 3vw
    a
      background: radial-gradient(ellipse, white 70%, ivory 90%, grey)
      width: 8vw
      display: block
      @media (max-width: 1000px)
        min-width: 200px
    @media (max-width: 1000px)
      &.navigation_button
        display: block
      &:not(.navigation_button):not(:nth-of-type(-1n+3))
        display: none
    @media (max-width: 600px)
      &:not(.navigation_button):not(:nth-of-type(-1n+2))
        display: none

#specifier_bar
  display: flex
  flex-direction: column
  justify-content: center
  height: 80%
  width: 7vw
  position: fixed
  bottom: 0
  left: calc(2% + 2vw)
  top: calc(12vh)
  @media (max-width: 1000px)
    height: 10vh
    position: fixed
    top: 5vh
    min-height: 100px
    width: 90vw
    overflow-y: scroll
