#side_bar
  position: fixed
  top: calc(50% - 12vh)
  left: 10%
  width: calc(10% + 2vw)
  bottom: 0
  margin: auto

#form_query
  background: radial-gradient(ellipse, white 90%, ivory 95%, lightgrey)
  border: 1px solid rgba(20, 20, 20, .4)
  border-radius: 5px
  box-shadow: 1px 1px rgba(20, 20, 20, .4)
  margin: 1vh
  padding: 2vw 5vw 2vw 2vw
  position: fixed
  top: 10%
  right: -2%
  bottom: 10%
  transition: width .5s
  transition-delay: width 1s
  width: calc(17% - 7vw)
  z-index: 3
  &:hover
    width: 40%
    transition: width .5s
    input[type="text"]
      width: 80%
      transition: width .5s
  input[type="text"]
    margin-right: 1vw
    float: none
    transition: width .5s
    width: 4vw
    // width: calc(100% - 10vw)
    background: ivory
  input[type="submit"]
    background: grey
    display: inline-block
    float: none
    height: calc(1vmax + 1vw + 1vh)
    padding: 0
    border-radius: 20px
    width: calc(1vmax + 1vw + 1vh)
  table
    tr:not(:first-of-type)
      td
        border-top: 1px dotted grey 
