/ table
/   thead
/     tr
/       th Name
/       th Year
/       th Title
/   tbody
/     tr
/       td Yosemite Sam
/       td 1993
/       td King fishing in Montreal
/     tr
/       td Yosemite Sam
/       td 1912
/       td Where NASA went wrong
/     tr
/       td The blue power ranger
/       td 1969
/       td A beaver's guide to damn building