
.bold
  font-weight: bold

body
  background: grey
  position: relative
  z-index: -2



.center
  text-align: center

.right
  text-align: right

.left
  text-align: left

.columns
  columns: 10vw 3
  margin: auto
  min-height: 20vh

