$tablegrey: #edeeef

body
  background: grey
  position: relative
  z-index: -2

#main_title
  font-family: 'Permanent Marker', cursive
  // margin: 5% 0
  color: lightgrey
  position: fixed
  top: calc(50% - 14vh)
  left: 56%
  // width: 80%
  height: 24vh
  padding: 1vh
  // text-align: center
  text-shadow: 1px 1px black
  // color: rgba(30, 15, 50, 1)
  font-size: 5vh
  z-index: -1

#side_bar
  position: fixed
  top: calc(50% - 12vh)
  left: 10%
  width: calc(10% + 2vw)
  bottom: 0
  margin: auto

#specifier_bar
  position: fixed
  top: calc(50% - 12vh)
  left: calc(10% + 11vw)
  bottom: 0
  width: 7vw
  height: 24vg

ul.menu 
  list-style: none
  padding: 0
  width: 20vh
  height: 24vh
  overflow: hidden
  float:  right
  li.unfocused
    a
      background: darken(lightgrey, 20%)
  li
    a
      font-family: 'Permanent Marker', cursive
      font-size: 2vh
      background: ivory
      padding: 1.5vh
      margin: 1vh
      border-radius: 5px
      text-align: center
      box-shadow: 1px 1px rgba(20, 20, 20, .4)
      border: 1px solid rgba(20, 20, 20, .4)
      background: radial-gradient(ellipse, white 70%, ivory 90%, grey)
      color: inherit
      display: block
      width: 8vw
      
#content_div
  position: fixed
  top: 10%
  bottom: 10%
  right: 15%
  left: calc(10% + 22vw)
  background: ivory
  overflow-x: scroll
  margin: 1vh
  border-radius: 5px
  box-shadow: 1px 1px rgba(20, 20, 20, .4)
  border: 1px solid rgba(20, 20, 20, .4)
  background: radial-gradient(ellipse, white 90%, ivory 95%, lightgrey)
  h1
    text-align: center
  hr
    margin-bottom: 3vh
  ul
    list-style: none
  footer
    position: fixed
    bottom: calc(10% + 4vh)
    width: 50%
    .pagination
      background: rgba(255,255,255,.9)
      width: 100%
      text-align: center
  #display_panel
    height: calc(100% - 8vw)
    width: calc(100% - 8vw)
    overflow: scroll
    padding: 4vw
    padding-bottom: 0
  a.small-year
    font-size: 2vh
    margin: 1vw 1vw
    color: inherit
    
#form_query
  position: fixed
  background: ivory
  top: 10%
  margin: 1vh
  border-radius: 5px
  bottom: 10%
  box-shadow: 1px 1px rgba(20, 20, 20, .4)
  border: 1px solid rgba(20, 20, 20, .4)
  background: radial-gradient(ellipse, white 90%, ivory 95%, lightgrey)
  right: 5%
  left: 85%

.center
  text-align: center

.right
  text-align: right

.left
  text-align: left

.columns
  columns: 10vw 3
  margin: auto
  min-height: 20vh

table.standard
  border-collapse: collapse
  width: 100%
  tr
  tr:nth-of-type(2n)
    background: $tablegrey
  td
    vertical-align: top
    padding: .5vw .5vw
    overflow: scroll
  a
    color: inherit
    text-decoration: underline
  &.three_columns
    td:nth-of-type(1)
      font-weight: bold
      width: 10%
    td:nth-of-type(2)
      width: 50%
    td:nth-of-type(3)
      width: 20%
  &.two_columns
    td:nth-of-type(1)
      width: 70%
    td:nth-of-type(2)
      width: 30%
